@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

// Variables
$Soft-orange: #e9ab53;
$Soft-red: #f15e50;
$Off-white: #fffdfa;
$Grayish-blue: #c5c6ce;
$Dark-grayish-blue: #5d5f79;
$Very-dark-blue: #00001a;

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: $Off-white;
}

ul {
  font-weight: bold;
  color: $Very-dark-blue;
}

h2 {
  color: $Very-dark-blue;
  font-size: 4rem;
  font-weight: 800;
}

.bio {
  color: $Dark-grayish-blue;
}

.readmore {
  background-color: $Soft-red;
  color: #fffdfa;
  border-radius: 0;

  &:hover {
    background-color: $Very-dark-blue;
    color: #fffdfa;
  }
}

section {
  background-color: $Very-dark-blue;
  color: $Off-white;

  h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: $Soft-orange;
    padding: 1.5rem 0;
  }

  .item {
    h4 {
      font-weight: 600;
      color: $Off-white;
    }
    p {
      color: $Grayish-blue;
    }
  }
}

.nav-link:hover {
  color: $Soft-red;
}

.cards {
  h3 {
    font-size: 2rem;
    font-weight: bold;
    color: $Grayish-blue;
  }
  strong {
    font-size: 1.3rem;
    font-weight: bold;
    color: $Very-dark-blue;
  }

  p {
    color: $Dark-grayish-blue;
    font-size: 13px;
  }
}
